# Install: `cargo install cargo-make`
# Help: https://sagiegurari.github.io/cargo-make/

[env]
CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE = true

[config]
default_to_workspace = true
skip_core_tasks = true
skip_crate_env_info = true
skip_git_env_info = true
skip_rust_env_info = true

# -------------------------------------
# Build and test
# -------------------------------------

[tasks.clean]
args = ["clean"]
command = "cargo"

[tasks.build]
args = ["build"]
command = "cargo"
dependencies = ["clean"]

[tasks.test]
args = ["--all", "--all-features", "--no-tests=pass", "nextest", "run"]
command = "cargo"
dependencies = ["clean"]
env = { RUSTFLAGS = "-Dwarnings" }

[tasks.test-doc]
args = ["--all-features", "--doc", "--workspace", "test"]
command = "cargo"

# -------------------------------------
# Basic hygiene
# -------------------------------------

[tasks.fmt]
dependencies = ["fmt-toml"]
script = "cargo +nightly fmt --all"

[tasks.fmt-toml]
args = ["format"]
command = "taplo"
install_crate = "taplo-cli"

[tasks.lint]
args = ["--all-features", "clippy"]
command = "cargo"
install_crate = { rustup_component_name = "clippy" }

[tasks.vet-imports]
args = ["imports", "regenerate", "vet"]
command = "cargo"
install_crate = "cargo-vet"

[tasks.vet-exempt]
args = ["exemptions", "regenerate", "vet"]
command = "cargo"
install_crate = "cargo-vet"

[tasks.vet-unpub]
args = ["regenerate", "unpublished", "vet"]
command = "cargo"
install_crate = "cargo-vet"

[tasks.vet]
args = ["--locked", "vet"]
command = "cargo"
dependencies = ["vet-exempt", "vet-imports", "vet-unpub"]
install_crate = "cargo-vet"

[tasks.miri]
script = '''
rustup override set nightly
rustup +nightly component add miri
rustup +nightly target add aarch64-apple-darwin
cargo miri setup
cargo miri nextest run --no-tests=pass
'''

[tasks.audit]
args = ["audit"]
command = "cargo"

[tasks.unused]
args = ["--skip-target-dir", "machete"]
command = "cargo"
install_crate = "cargo-machete"

[tasks.outdated]
args = ["--depth", "--exit-code", "--ignore", "--workspace", "1", "1", "outdated", "prost"]
command = "cargo"
install_crate = "cargo-outdated"

[tasks.deny]
args = ["--workspace", "check", "deny"]
command = "cargo"
install_crate = "cargo-deny"

[tasks.check]
dependencies = ["audit", "fmt", "lint", "outdated", "unused"]

# Emulate CI
[tasks.ci]
dependencies = ["deny", "fmt", "lint", "miri", "test", "test-doc", "vet"]
